blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

body {
  min-height: 100vh;
}

main {
  overflow: hidden;
}

.flickity-button {
  display: none;
}

.flickity-page-dots {
  bottom: 1.25rem;
}

.flickity-page-dots .dot.is-selected {
  background: #5e3db3;
}

.main-carousel:after {
  content: "flickity";
  display: none;
}

@media screen and (min-width: 640px) {
  .main-carousel:after {
    content: "";
  }
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.ml-2 {
  margin-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .lg-text-border {
    -webkit-text-stroke: 1px black;
  }
  .lg-text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .lg-font-medium {
    font-weight: 500;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  position: relative;
}

@media screen and (min-width: 640px) {
  .header {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .header {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.header__image {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 640px) {
  .header__image {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 1024px) {
  .header__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 640px) {
  .header__image--section-1 {
    left: -2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .header__image--section-1 {
    left: 0px;
  }
}

@media screen and (min-width: 640px) {
  .header__image--section-2 {
    right: 0px;
  }
}

.header__text {
  font-size: 3rem;
  line-height: 1;
  color: #e7e7e7;
  height: 18rem;
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .header__text {
    height: auto;
    grid-column: span 2 / span 2;
  }
}

@media screen and (min-width: 640px) {
  .header__text--section-1 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.header__text--section-2 {
  padding-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .header__text--section-2 {
    grid-column: span 1 / span 1;
  }
}

.header__footballer {
  width: 13rem;
  z-index: 10;
  padding-top: 5rem;
}

@media screen and (min-width: 640px) {
  .header__footballer {
    width: 20rem;
    padding-top: 0.25rem;
  }
}

.header__basketballer {
  width: 20rem;
  z-index: 10;
  padding-top: 6rem;
}

@media screen and (min-width: 640px) {
  .header__basketballer {
    width: 26rem;
    padding-top: 0rem;
  }
}

.subsection {
  background-color: #f5f4f9;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .subsection__connection {
    background-color: inherit;
  }
}

@media screen and (min-width: 640px) {
  .subsection__growth--primary {
    background-color: #5e3db3;
    color: white;
  }
}

@media screen and (min-width: 640px) {
  .subsection__growth--secondary {
    background-color: #090c35;
    color: white;
  }
}

.subsection__grid {
  height: 15rem;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 640px) {
  .subsection__grid {
    height: auto;
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .subsection__grid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.subsection__content {
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .subsection__content {
    grid-column: span 2 / span 2;
  }
}

@media screen and (min-width: 640px) {
  .subsection__content--section-1 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

@media screen and (min-width: 1024px) {
  .subsection__content--section-2 {
    grid-column: span 1 / span 1;
  }
}

.subsection__header {
  font-size: 1.5rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
  color: #c2c2c2;
}

@media screen and (min-width: 640px) {
  .subsection__header {
    padding-top: 0rem;
  }
}

.subsection__number {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.25rem;
  position: relative;
  color: black;
}

.subsection__number:after {
  content: "";
  display: block;
  position: absolute;
  height: 0.25rem;
  width: 1rem;
  border-radius: 0.25rem;
  bottom: 0.25rem;
  background-color: #5e3db3;
}

@media screen and (min-width: 640px) {
  .subsection__number--growth-primary:after {
    background-color: white;
  }
}

@media screen and (min-width: 640px) {
  .subsection__number--growth-secondary {
    color: #5e3db3;
  }
  .subsection__number--growth-secondary:after {
    background-color: white;
  }
}

.subsection__number--center:after {
  left: 1px;
}

.subsection__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.75rem;
}
/*# sourceMappingURL=styles.css.map */